---
layout: alt-base
---

<div class="content-container--stacked">
    <div class="header__title header__title--alt blur-on-mobile-menu">
        <span>{{ site.title }}</span>
    </div>
    <div class="content-container content-container--banner blur-on-mobile-menu">
        <div class="content-container">
            <div class="image--profile">
                <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
            </div>
            <div class="content-container--stacked">
                <div class="show-for-desktop menu--alt">
                    {% include nav.html %}
                </div>
                <div class="description">
                    {{ site.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="social-bar social-bar--alt">
        {% include social-links.html %}
    </div>
</div>