---
layout: default-base
---

<div class="content-container">
    <div class="page-content">
        <div class="page-content__item">
            <div class="page-content__post__title">
                <h2>{{ page.title }}</h2>
                {% if page.date %}
                <span class="page-content__post__date">
                    {{ page.date | date_to_string }}
                </span>
                {% endif %}
            </div>
            <div class="page-content__post">
                {{ content }}
            </div>
        </div>
        <div class="page-content__item">
            {% if page.comments %}
                {% include disqus-comments.html %}
            {% endif %}
        </div>
    </div>
</div>