---
layout: default-base
---

<div class="blur-on-mobile-menu page-content">
    {% for post in site.posts %}
        {% if post.project == null %}
        <div class="page-content__item">
            <div class="page-content__post-index__item">
                <h2 class="page-content__post-index__title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                <div class="page-content__post-index__date">
                    {{ post.date | date_to_string }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>