
---
layout: default-base
---

<div class="blur-on-mobile-menu page-content">
    {% for post in site.posts %}
        {% if post.project == null %}
        <div class="page-content__item">
            <div class="page-content__post-index__item" data-href="{{ site.url }}{{ post.url }}">
                <h2 class="page-content__post-index__title">{{ post.title }}</h2>
                <div class="page-content__post-index__date">
                    {{ post.date | date_to_string }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
    <div class="middlelaAna">
      <div class="programlar">
        {% for post in site.posts %}
          {% if post.project %}
            <div class="program">
              <div class="urunResmi">
                <img src="{{ post.image }}" alt="">
              </div>
              <div class="urunAdi">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
              </div>
              <div class="aciklamaUrun">
                {{ post.excerpt }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
