@import "./settings";
@import "./animations";

* {
    box-sizing: border-box;
}

html, body {
    background: $bg-blue;
    height: 100%;
    margin: 0px;
    width: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 3px;
    &:hover {
        background-color: darken($bg-blue, 10%);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
    }
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

/* End Scrollbar */

::selection {
    background: $bg-blue;

    /* WebKit/Blink Browsers */
    color: $mainColor;
}

a {
    color: $bg-blue;
    text-decoration: none;
}